.simple-menu, .menu-profile, .chat-suport, .mini_config {
  position: fixed;
  margin-top: var(--small);
  z-index: 100;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
  border-radius: var(--border-radius-large);
  display: block;
  transform: translateY(-200%); /* Inicia o menu fora da tela */
  transition: transform 0.3s ease-out; /* Adiciona uma transição suave */
}

.simple-menu, .menu-profile, .chat-suport {
  top: var(--height-header);
  right: 4rem;
}

.menu-profile {
  max-width: 300px;
}

.chat-suport {
  max-width: 600px;
  max-height: 800px;
  background-color: var(--background);
}

.simple-menu h2, .menu-profile h2, .modal h2 {
  font-size: 1.2rem;
  padding: var(--small);
  color: var(--tertiary--color);
}

.simple-menu--open,
.mini_config--open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0); /* Move o menu para a posição original quando aberto */
}

.chat-suport {
  display: flex;
  flex-direction: column;
}

.simple-menu, 
.chat-suport,
.chat_suport_container {
  overflow-y: auto;
}

.message-chat_suport {
  border-radius: var(--border-radius-large);
  margin-top: var(--small);
  padding: 1rem;
}
/* .message-chat_suport:last-child {
  margin-bottom: var(--small);
} */
.message-chat_suport p {
  margin: 0;
  /* padding: 17px 20px; */
}

.message-receiver {
  background-color: var(--secondary--color);
}

.message-sender {
  background-color: var(--background-primary);
}

.message-receiver p {
  color: #fff;
}

.message-sender p {
  color: #000
}

.chat_suport_container {
  flex-grow: 1;
  display: relative;
  /* max-height: 62.4vh; */
}

.chat_suport_send_message {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: var(--small);
  background-color: var(--background-primary);
}

.text-chat {
  border: none;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  /* margin-bottom: 2rem; */
  border-radius: var(--border-radius);
  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.chat_suport_send_message button {
  font-size: 1rem;
  /* margin-bottom: var(--small);
  margin-right: var(--small); */
}

.chat_suport_send_message .reset_button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #3f3f3f;
  padding-left: calc(var(--small) + var(--small));
  padding-right: calc(var(--small) + var(--small));
}

.chat_suport_header {
  z-index: 100;
  background-color: var(--primary--color);
  color: var(--secondary); 
  padding: var(--small);
  width: 100%;
}

.chat_suport_header h2 {
  color: var(--secondary); 
  margin: 0;
}

.mini_config {
  max-width: 300px;
  /* left: 4rem; */
  
  height: auto;
  max-height: auto;
  text-align: center;
  /* padding: var(--small) 0; */
}

.mini_config p {
  padding: var(--small);
}

.main_nav_bar {
  width: var(--large);
  /* width: 100%; */
  margin-top: var(--height-header);
  height: calc(100vh - var(--height-header));
  background-color: #fff;
  /* background-color: var(--primary--color); */
}

.toggle_main_nav_bar {
  width: var(--large);
  font-size: var(--medium);
  right: -50%;
  z-index: 100;
  background-color: #fff;
  padding: var(--small);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
}

@media screen and (max-height: 738px) {
  .text-chat {
    min-height: 50px;
  }

  .simple-menu--open {
    max-height: 660px;
  }
}