.simple-menu, .menu-profile {
  position: fixed;
  top: var(--height-header);
  right: 4rem;
  margin-top: var(--small);
  z-index: 100;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;

  display: block;
  transform: translateY(-200%); /* Inicia o menu fora da tela */
  transition: transform 0.3s ease-out; /* Adiciona uma transição suave */
}

.menu-profile {
  max-width: 300px;
}

.simple-menu h2, .menu-profile h2 {
  font-size: 1.2rem;
  padding: var(--small);
  color: var(--tertiary--color);
}

.simple-menu--open {
  transform: translateX(0); /* Move o menu para a posição original quando aberto */
}

.simple-menu {
  overflow-y: auto;
}

.simple-menu::-webkit-scrollbar {
  width: var(--small);
}

/* Track (o fundo da barra de rolagem) */
.simple-menu::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

/* Handle (a parte móvel da barra de rolagem) */
.simple-menu::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: var(--secondary--color); /* Cor da parte móvel da barra de rolagem */
}

/* Handle on hover */
.simple-menu::-webkit-scrollbar-thumb:hover {
  background: var(--secondary--color-hover); /* Cor da parte móvel da barra de rolagem */
  /* background: #555; Cor da parte móvel da barra de rolagem quando o mouse está sobre ela */
}