@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary--color: #444CE6;
  --secondary--color: #6a70e0;
  --secondary--color-hover: #454cda;
  --tertiary--color: #F04E23;
  --secondary: #F6F6F9;

  --primary-dark: #3F4C7C;
  --secondary-dark: #3F4C7C;

  --primary-light: #F6F6F9;
  --secondary-light: #F6F6F9;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  --font-size: 1rem;
  --font-size-smaller: 0.5rem;
  --font-size-small: 0.8rem;
  --font-size-large: 1.2rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --border-radius: 0.5rem;
  --border-radius-large: 1rem;

  --text: #3F4C7C;
  --text-black: #363434;
  --focus: #E8F9EE;
  --text-alert: #ffab1b;
  --text-success: #3cd83f;
  --text-error: #ff4b2b;
  --text-warning: #ffab1b;
  --text-atention: #FFCC41;

  --background: #fff;
  /* f6f5f7 */
  --background-primary: #F6F6F9;
  --background-dark: #F6F6F9;

  --focu-button: #3cd83f; /* #3FAA76; */
  --button: #3F4C7C;

  --box-shadow-primary: 0px 0px 10px rgba(0, 0, 0, 0.2);

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --padding-small: 0.5rem;
  --padding-medium: 1rem;

  --gradient: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
    rgb(var(--background-start-rgb));

  --green: #3FAA76;

  --smaller: 0.2rem;
  --small: 0.5rem;

  --max-large-width: 1728px;
  --max-larger-width: 1905px;

  --height-header: 60px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.primary-color {
  color: var(--primary--color);
}

.green-color {
  color: var(--green);
}

.tertiary-color{
  color: var(--tertiary--color);
}

.transition-card {
  transition: transform 0.5s ease;
}

::-webkit-scrollbar {
  width: var(--small);
}

/* Track (o fundo da barra de rolagem) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

/* Handle (a parte móvel da barra de rolagem) */
::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: var(--secondary--color); /* Cor da parte móvel da barra de rolagem */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: var(--secondary--color-hover); /* Cor da parte móvel da barra de rolagem */
  /* background: #555; Cor da parte móvel da barra de rolagem quando o mouse está sobre ela */
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
