
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

@media screen and (max-width: 924px) {
	.container_students {
    /* margin-top: var(--medium); */
    margin-left: 0;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

@media screen and (max-width: 424px) {
	.container_students {
    margin-top: 6rem;
		padding-left: var(--small);
		padding-right: var(--small);
	}

	.modal_show_data_student {
		/* margin-top: 6rem; */
	}
}